.wrapper-skill{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .main-skill{
    width: 430px;
}

.wrapper-skill .main-skill.-space {
margin-right: 30px;
margin-bottom: 80px;

}

.wrapper-skill .progress-bar{
width: 320px;
}