#box{
background-color: #62C370;
width: 458px;
box-shadow: 10px 10px 0 #828282;
text-align: center;
padding: 20px 0px;
}

#box h1 {
    margin: 21px;
}

#box h2{
    margin-bottom: 20px;
}