.progress-bar{
    box-sizing: border-box;
    background-color: #ffffff;
    border: 3px solid #000;
    height: 30px;
    width: 200px;
}

.progress-bar::-webkit-progress-bar{
    background-color: white ;
}

.progress-bar::-moz-progress-bar{
    background-color: white ;
}